@using MySql.Data.MySqlClient;
@using EduChat.Services;
@inject UserService UserService
@inject MySqlConnection Connection
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EduChat</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Map" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Map
            </NavLink>
        </div>
        @if (!string.IsNullOrEmpty(UserService.UserName))
        {
            <div class="nav-item px-3">
            <span class="nav-link">@($"Welcome, {UserService.UserName}")</span>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Log in
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="signup" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Sign up
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
}
